@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
/* Variables */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Utilities */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: .875rem;
  color: black;
  background-color: #ecf0f3;
}

.header {
  border-radius: 0 0 10px 10px;
  padding-block: 1rem;
  background: #ecf0f3;
  -webkit-box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
          box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

main ul {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  list-style: none;
}

main ul li {
  border-radius: 10px;
  background: #ecf0f3;
  -webkit-box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
  box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
  overflow: hidden;
  list-style: none;
}

main ul li img {
  aspect-ratio: 160/98;
  width: 100%;
}

main ul li a {
  color: black;
  text-decoration: none;
}

.info-container {
  padding: 2rem 1.2rem;
}

.country-name {
  font-size: 1.2rem;
  margin-bottom: .7rem;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding-block: 2rem 3rem;
}

.filters input[type=text] {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding: 10px 25px;
  -webkit-box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
          box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
}

.filters input[type=text]::-webkit-input-placeholder {
  color: #bfc2c5;
}

.filters input[type=text]:-ms-input-placeholder {
  color: #bfc2c5;
}

.filters input[type=text]::-ms-input-placeholder {
  color: #bfc2c5;
}

.filters input[type=text]::placeholder {
  color: #bfc2c5;
}

.filters .search {
  position: relative;
}

.filters .search__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.filters.hidden {
  display: none;
}

.select {
  position: relative;
  font-size: 1rem;
}

.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 10px 25px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
          box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
}

.select__btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px #bfc2c5, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #bfc2c5, -5px -5px 10px #ffffff;
}

.select__options {
  position: absolute;
  display: none;
  gap: 10px;
  padding: 10px 25px;
  text-align: left;
  width: 100%;
  background-color: #ecf0f3;
  -webkit-box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
          box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
  z-index: 1;
}

.select__option {
  border-radius: 3px;
  padding: 8px 10px;
  cursor: pointer;
}

.options-visible {
  display: -ms-grid;
  display: grid;
}

.option-selected {
  -webkit-box-shadow: inset 3px 3px 7px #bfc2c5, inset -3px -3px 7px #ffffff;
          box-shadow: inset 3px 3px 7px #bfc2c5, inset -3px -3px 7px #ffffff;
}

.details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}

.details-container img {
  width: 100%;
  max-width: 570px;
  -webkit-box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
          box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
}

.back-btn {
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  color: black;
  margin-block: 2rem 3rem;
  padding: 10px 45px;
  text-decoration: none;
  -webkit-box-shadow: 5px 5px 9px #bfc2c5, -5px -5px 9px #ffffff;
          box-shadow: 5px 5px 9px #bfc2c5, -5px -5px 9px #ffffff;
}

.back-btn ion-icon {
  position: absolute;
  left: 10px;
  top: 8px;
  color: black;
  font-size: .875rem;
  width: 15px;
  height: 15px;
  padding: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px #bfc2c5, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #bfc2c5, -5px -5px 10px #ffffff;
}

.back-btn:hover {
  -webkit-box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
          box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
  color: #0606f7;
}

.back-btn:hover ion-icon {
  -webkit-box-shadow: 2px 2px 7px #bfc2c5, -2px -2px 7px #ffffff;
          box-shadow: 2px 2px 7px #bfc2c5, -2px -2px 7px #ffffff;
  color: #0606f7;
}

.country-details {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 1.5rem 3rem;
  -webkit-box-shadow: 8px 8px 14px #bfc2c5, -8px -8px 14px #ffffff;
          box-shadow: 8px 8px 14px #bfc2c5, -8px -8px 14px #ffffff;
}

.country-details__name {
  font-size: 2rem;
}

.country-details__details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
}

.country-details__details-container strong {
  font-size: 1rem;
}

.country-details__details-container span {
  font-size: 1rem;
}

.country-details__details-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 9px #bfc2c5, -5px -5px 9px #ffffff;
          box-shadow: 5px 5px 9px #bfc2c5, -5px -5px 9px #ffffff;
}

.country-details__borders {
  margin-top: 1rem;
}

.country-details__borders-title {
  font-size: 1.3rem;
}

.country-details__borders-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.country-details__borders-wrapper a {
  font-family: inherit;
  color: black;
  text-decoration: none;
  padding: 5px 15px;
  -webkit-box-shadow: 5px 5px 9px #bfc2c5, -5px -5px 9px #ffffff;
          box-shadow: 5px 5px 9px #bfc2c5, -5px -5px 9px #ffffff;
}

.country-details__borders-wrapper a:hover {
  -webkit-box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
          box-shadow: 3px 3px 7px #bfc2c5, -3px -3px 7px #ffffff;
  color: #0606f7;
}
/*# sourceMappingURL=style.css.map */