@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;500;700&display=swap');

/* Variables */
$bg-clr: #ecf0f3;
$font-clr: #555;


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Utilities */

body {
    font-family: 'Lato', sans-serif;
    font-size: .875rem;
    color: $font-clr;
    background-color: $bg-clr;
}

.header {
    border-radius: 0 0 10px 10px;
    padding-block: 1rem;
    background: #ecf0f3;
    // -webkit-box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
    // box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
    box-shadow: 3px 3px 7px #bfc2c5,
        -3px -3px 7px #ffffff;

    &__container {
        max-width: 1280px;
        margin: 0 auto;
    }

}

main {
    max-width: 1280px;
    margin: 0 auto;
    
    ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        list-style: none;
        

        li {

            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #ecf0f3;
            -webkit-box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
            box-shadow: 12px 12px 22px #a5a8aa, -12px -12px 22px #ffffff;
            
            // background-color: $bg-clr;
            // border-radius: 10px;
            // box-shadow: 13px 13px 20px #cbced1,
            //             -13px -13px 20px #ffffff;
            overflow: hidden;
            list-style: none;

            

            img {
                aspect-ratio: 160/98;
                width: 100%;
            }

            a {
                color: $font-clr;
                text-decoration: none; 
            }
        }
    }
    
}

.info-container {
    padding: 2rem 1.2rem;
}

.country-name {
    font-size: 1.2rem;
    margin-bottom: .7rem;

}

.filters { 
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding-block: 2rem;

    input[type=text] {
        border: none;
        outline:none;
        background: none;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        color: $font-clr;
        padding:10px 25px;
        // border-radius: 10px;
        // box-shadow: inset 3px 3px 7px #bfc2c5,
        // inset -3px -3px 7px #ffffff;
        box-shadow: 3px 3px 7px #bfc2c5,
        -3px -3px 7px #ffffff;

        &::placeholder {
            color: #bfc2c5;
        }
    }

    .search {
        position: relative;
        
        &__icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
        }
    }
}

.select {
    position: relative;
    font-size: 1rem;
    

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 10px 25px;
        cursor:  pointer;
        box-shadow: 3px 3px 7px #bfc2c5,
        -3px -3px 7px #ffffff;
    }

    // &__holder {

    // }

    &__btn {
        display: grid;
        place-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
       
        box-shadow: 5px 5px 10px #bfc2c5,
        -5px -5px 10px #ffffff;
    }

    &__options {
        position: absolute;
        display: grid;
        gap: 10px;
        padding: 10px 25px;
        text-align: left;
        width: 100%;
        background-color: $bg-clr;
        box-shadow: 3px 3px 7px #bfc2c5,
        -3px -3px 7px #ffffff;
        
        z-index: 1;
    }

    &__option {
        border-radius: 3px;
        padding: 8px 10px;
        // box-shadow: 3px 3px 7px #bfc2c5,
        // -3px -3px 7px #ffffff;
    }
    
    
}

.option-selected {
    // border: 1px solid red;
    box-shadow: inset 3px 3px 7px #bfc2c5,
        inset -3px -3px 7px #ffffff;
        
}