@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');


/* Variables */
$bg-clr: #ecf0f3;
$font-clr: #000000;
$accent-clr: #5d42f5;

$clr-pink: #f252a5;
// $bg-clr: #2f3230;

$bs-list-items: 12px 12px 22px #a5a8aa,
                -12px -12px 22px #ffffff;

$bs-btn: 5px 5px 9px #bfc2c5,
        -5px -5px 9px #ffffff;

$bs-btn-hover: 3px 3px 7px #bfc2c5,
                -3px -3px 7px #ffffff;

$bs-small-inset: inset 2px 2px 5px #bfc2c5,
                inset -2px -2px 5px #ffffff;

$bs-country-details: 8px 8px 14px #bfc2c5,
                    -8px -8px 14px #ffffff;

$bs-flag-details: 12px 12px 22px #a5a8aa,
                -12px -12px 22px #ffffff;

$bs-slider-dot: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                2px 2px 8px rgba(0, 0, 0, .3);

$bs-slider: -2px -2px 8px rgba(255, 255, 255, 1),
            -2px -2px 12px rgba(255, 255, 255, 0.5),
            inset -2px -2px 8px rgba(255, 255, 255, 1),
            inset -2px -2px 12px rgba(255, 255, 255, 0.5),
            inset 2px 2px 4px rgba(255, 255, 255, 0.1),
            inset 2px 2px 8px rgba(0, 0, 0, .3),
            2px 2px 8px rgba(0, 0, 0, .3);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Styles */

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: .875rem;
    color: $font-clr;
    background-color: $bg-clr;
    padding-bottom: 2rem;
}

.header {
    border-radius: 0 0 10px 10px;
    padding-block: 1rem;
    background: $bg-clr;
    -webkit-box-shadow: $bs-btn;
    box-shadow: $bs-btn-hover;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        margin: 0 auto;
    }

    .switch-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .switch-label {
        font-size: 1rem;
        margin-right: 1rem;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        cursor: pointer;

        input {
            display: none;
        }

        &__slider {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid 2px solid $bg-clr;
            border-radius: 20px;
            box-shadow: $bs-slider;
            background-color: $bg-clr;
        }

        &__off {
            position: absolute;
            top: 9px;
            right: 5px;
            font-family: inherit;
            color: $font-clr;
            font-size: .625rem;
            font-weight: 700;
        }

        &__on {
            position: absolute;
            top: 9px;
            left: 7px;
            font-size: .625rem;
            color: $clr-pink;
            font-weight: 700;
        }     
    }
}

.switch__slider::before {
    position: absolute;
        bottom: 3px;
        left: 5px;
        z-index: 1;
        width: 24px;
         height: 24px;
         border-radius: 50%;
         box-shadow: $bs-slider-dot;
         background-color: $bg-clr;
                content: "";
        transition: .5s;
}

input[type="checkbox"]:checked + .switch__slider::before {
    transform: translateX(26px);
}

main {
    max-width: 1280px;
    margin: 0 auto;
    
    ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        list-style: none;
        
        li {

            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: $bg-clr;
            -webkit-box-shadow: $bs-list-items;
            box-shadow: $bs-list-items;
            overflow: hidden;
            list-style: none;
            transition: scale 0.2s ease-in;

            img {
                aspect-ratio: 160/98;
                width: 100%;
            }

            a {
                color: $font-clr;
                text-decoration: none; 
            }

            &:hover {
                scale: 1.06;
            }
        }
    }
    
}

.info-container {
    padding: 2rem 1.2rem;
}

.country-name {
    font-size: 1.2rem;
    margin-bottom: .7rem;

}

.filters { 
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding-block: 2rem 3rem;

    input[type=text] {
        border: none;
        outline:none;
        background: none;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        color: $font-clr;
        padding:10px 25px;
        box-shadow: $bs-btn;

        &::placeholder {
            color: #bfc2c5;
        }
    }

    .search {
        position: relative;
        
        &__icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
        }
    }
    &.hidden {
        display: none;
    }
}

.select {
    position: relative;
    font-size: 1rem;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 10px 25px;
        cursor:  pointer;
        box-shadow: $bs-btn;

        &:hover {
            box-shadow: $bs-btn-hover;
            color: $accent-clr;
        }
    }

    &__btn {
        display: grid;
        place-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        transition: rotate 0.4s ease-out;
       
        box-shadow: $bs-btn;

    }

    &__options {
        position: absolute;
        top: 50px;
        display: none;
        gap: 10px;
        padding: 10px 25px;
        text-align: left;
        width: 100%;
        background-color: $bg-clr;
        box-shadow: $bs-btn-hover;
        z-index: 1;
    }

    &__option {
        border-radius: 3px;
        padding: 8px 10px;
        cursor: pointer;

        &:hover {
            box-shadow: $bs-small-inset;
            color: $accent-clr;
        }
    }

    &:hover {
        .select__btn {
            box-shadow: $bs-btn-hover;
            color: $accent-clr;
        }
    }
}

.options-visible {
    display: grid;
}

.option-selected {
    box-shadow: $bs-small-inset;
        
}

.details-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    img {
        width: 100%;
        max-width: 570px;
        box-shadow: $bs-flag-details;
    }
}

.back-btn {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    color: $font-clr;
    margin-block: 2rem 3rem;
    padding:10px 45px;
    text-decoration: none;

    box-shadow: $bs-btn;

    ion-icon {
        position: absolute;
        left: 10px;
        top: 8px;
        color: black;
        font-size: .875rem;
        width: 15px;
        height: 15px;
        padding: 4px;
        border-radius: 50%;

        box-shadow: $bs-btn;
    }

    &:hover {
        box-shadow: $bs-btn-hover;
        color: $accent-clr;

        ion-icon {
            box-shadow: $bs-btn-hover;
        }
    }
}

.country-details {
    display: grid;
    place-content: center;
    padding: 1.5rem 3rem;
    box-shadow: $bs-country-details;
    
    &__name {
        font-size: 2rem;
    }

    &__details-container {
        display: flex;
        gap: 4rem;
        margin-top: 1rem;

        strong {
            font-size: 1rem;
        }

        span {
            font-size: 1rem;
        }
    }

    &__details-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1rem;
        box-shadow: $bs-btn;
    }

    &__borders {
        margin-top: 1rem;
    }

    &__borders-title {
        font-size: 1.3rem;
    }

    &__borders-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;

        a {
            font-family: inherit;
            color: black;
            text-decoration: none;
            padding: 5px 15px;
            box-shadow: $bs-btn;

            &:hover {
                box-shadow: $bs-btn-hover;
                color: $accent-clr;
            }
        }
    }
}